@font-face {
  font-family: 'Ubuntu-Light';
  src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(../fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(../fonts/Ubuntu-Regular.ttf);
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./../assets/images/slider1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #FDFDFD;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-content {
  position: absolute;
  padding: 0 6%;
}

.header-content h1 {
  font-size: 55px;
  color: #2E236B;
  text-transform: uppercase;
  font-family: "Ubuntu-Medium";
}

.header-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.header-content a {
  padding: 10px 25px;
  font-size: 22px;
  border: 1px solid #FDFDFD;
  background: transparent;
  color: #FDFDFD;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  font-family: "Ubuntu-Regular";
  border-radius: 20px;
}

.header-content a:hover {
  color: #FDFDFD;
  background-color: #2E236B;
  border: 1px solid #2E236B;
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
}

nav ul li a span {
  text-decoration: underline;
  font-family: "Ubuntu-Light";
}

nav ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

input {
  display: none;
}

label {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.bg-blue {
  background-color: #2E236B;
  padding: 0 8%;
}

@media (max-width: 994px) {
  .bg-blue {
    padding: 0;
  }
  nav {
    background-color: #2E236B;
  }
}

@media (max-width: 1121px) {
  label {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    border-top: 1px solid #ffff;
    background-color: #2E236B;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  nav ul li {
    display: block;
  }
  input:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 640px) {
  .header-content h1 {
    font-size: 40px;
  }
}

.container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
}

.container__card .card {
  color: #FDFDFD;
  width: 100%;
  height: 240px;
  text-align: center;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  margin: 5px;
  padding: 20px;
}

.container__card .card .card__title {
  text-transform: uppercase;
  font-size: 27px;
}

.container__card .card .card__info {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 28px;
}

.container__card .card .buttonCard {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #FDFDFD;
  background: transparent;
  color: #FDFDFD;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  font-family: "Ubuntu-Regular";
  border-radius: 20px;
}

.container__card .card .buttonCard:hover {
  background-color: #2E236B;
  border: 10px solid #2E236B;
}

.container__card .card .card__contacto {
  margin-top: 10px;
  padding: 20px;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
}

.container__card .card .card__contacto li {
  margin-bottom: 10px;
}

.container__card .card .card__contacto li i {
  margin-right: 10px;
}

.container__card .card .card__horario {
  margin-top: 10px;
  font-size: 15px;
  line-height: 32px;
}

.container__card .card .card__horario span {
  margin-left: 115px;
}

.container__card .card .card__horario .horario {
  margin-left: 50px;
}

.container__card .card:nth-child(1) {
  background-color: #4064a3;
}

.container__card .card:nth-child(1):hover {
  background-color: #3ea03e;
}

.container__card .card:nth-child(2) {
  background-color: #383068;
}

.container__card .card:nth-child(2):hover {
  background-color: #3ea03e;
}

.container__card .card:nth-child(3) {
  background-color: #3949b1;
}

.container__card .card:nth-child(3):hover {
  background-color: #3ea03e;
}

@media (max-width: 901px) {
  .container__card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__card .card__info {
    width: 100%;
    padding-left: 0;
  }
  .container__card .card__contacto {
    text-align: center !important;
  }
}

@media (max-width: 925px) {
  .container__card .card .card__horario span {
    margin-left: 100px;
  }
  .container__card .card .card__horario .horario {
    margin-left: 48px;
  }
}

@media (max-width: 913px) {
  .container__card .card .card__horario {
    margin-left: -12px;
  }
  .container__card .card .card__horario .horario {
    margin-left: 44px;
  }
}

.about-section {
  background: url(./../assets/images/about-us.jpg) no-repeat left;
  background-size: 55%;
  background-color: #FDFDFD;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #f2f8ee;
  padding: 110px;
}

.inner-container h1 {
  color: #2E236B;
  font-size: 45px;
  margin-bottom: 30px;
  font-family: "Ubuntu-Regular";
}

.inner-container h1 span {
  color: #74A127;
  font-size: 53px;
}

.text {
  font-size: 16px;
  color: #7A797E;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  color: #2E236B;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}

.service {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-heading {
  text-align: center;
}

.s-heading h1 {
  color: #2E236B;
  font-family: "Ubuntu-Regular";
  font-size: 45px;
  letter-spacing: 1px;
  margin: 0px;
  text-align: center;
}

.s-heading h1 span {
  color: #74A127;
  font-size: 53px;
}

.s-heading p {
  color: #7A797E;
  font-size: 18px;
  margin: 5px;
  text-align: center;
}

.s-box-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  width: 360px;
  padding: 20px 25px;
  height: 380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px;
  position: relative;
  background-color: #FDFDFD;
}

.s-box img {
  height: 80px;
}

.s-box h1 {
  color: #2E236B;
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
  font-family: "Ubuntu-Regular";
}

.s-box p {
  color: #7A797E;
  text-align: justify;
  padding-bottom: 10px;
  line-height: 25px;
}

.s-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #2E236B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2E236B;
  margin-top: 10px;
  font-family: "Ubuntu-Medium";
}

.bar {
  width: 100px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #74A127;
  border-radius: 0px 0px 10px 15px;
  display: none;
  -webkit-animation: bar 0.5s;
          animation: bar 0.5s;
}

.s-box:hover {
  background-color: #f2f8ee;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.s-btn:hover {
  background-color: #74A127;
  border: 1px solid #74A127;
  color: #FDFDFD;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.s-box:hover .bar {
  display: block;
}

@-webkit-keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@media (max-width: 1050px) {
  .s-box-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services {
    height: auto;
  }
  .s-heading {
    margin: 15px;
  }
  .s-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.container__why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 30px;
}

.container__why .why__reasons .why__title {
  color: #2E236B;
  font-size: 45px;
  font-family: "Ubuntu-Regular";
}

.container__why .why__reasons .why__title span {
  color: #74A127;
  font-size: 53px;
}

.container__why .why__reasons .why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.container__why .why__reasons .why__list .why__item {
  color: #2E236B;
  font-size: 26px;
  font-family: "Ubuntu-Bold";
  padding-top: 30px;
}

.container__why .why__reasons .why__list .why__description {
  color: #7A797E;
  font-size: 18px;
  padding-left: 60px;
  padding-top: 10px;
  text-align: justify;
}

@media (max-width: 917px) {
  .container__why {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .why__title {
    text-align: center;
  }
  .why__list {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 421px) {
  .why__title {
    text-align: center;
  }
  .why__list {
    padding-right: 40px;
    padding-left: 40px;
  }
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #2E236B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container__footer .about {
  width: 40%;
}

footer .container__footer .about h2 {
  position: relative;
  color: #FDFDFD;
  margin-bottom: 15px;
}

footer .container__footer .about p {
  color: #d1d1d1;
  text-align: justify;
}

footer .container__footer .about .redes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container__footer .about .redes li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #74A127;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 4px;
}

footer .container__footer .about .redes li a:hover {
  background: #7A797E;
}

footer .container__footer .about .redes li a .fab {
  color: #FDFDFD;
  font-size: 20px;
}

footer .container__footer .quick__links {
  position: relative;
  width: 25%;
}

footer .container__footer .quick__links h2 {
  color: #FDFDFD;
  margin-bottom: 15px;
}

footer .container__footer .quick__links ul li a {
  color: #d1d1d1;
  margin-bottom: 10px;
  display: inline-block;
}

footer .container__footer .quick__links ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

footer .container__footer .contact h2 {
  color: #FDFDFD;
  margin-bottom: 15px;
}

footer .container__footer .contact .info {
  position: relative;
}

footer .container__footer .contact .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

footer .container__footer .contact .info li span:nth-child(1) {
  color: #d1d1d1;
  font-size: 20px;
  margin-right: 10px;
}

footer .container__footer .contact .info li span {
  color: #d1d1d1;
}

.copyrightText {
  width: 100%;
  background-color: #2E236B;
  padding: 8px 100px;
  text-align: center;
  color: #FDFDFD;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container__footer .about,
  footer .container__footer .quick__links,
  footer .container__footer .contact {
    width: 100%;
    margin-top: 20px;
  }
}

.header__pages {
  width: 100%;
  height: 40vh;
  position: relative;
  background-image: url(./../assets/images/background-pages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  color: #FDFDFD;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__info {
  position: absolute;
  padding: 0 6%;
}

.header__info h1 {
  font-size: 50px;
  color: #2E236B;
  font-family: "Ubuntu-Medium";
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
}

nav ul li a span {
  text-decoration: underline;
  font-family: "Ubuntu-Light";
}

nav ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

.input__header {
  display: none;
}

label {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.bg-blue {
  background-color: #2E236B;
  padding: 0 8%;
}

@media (max-width: 994px) {
  .bg-blue {
    padding: 0;
  }
  nav {
    background-color: #2E236B;
  }
}

@media (max-width: 1121px) {
  label {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    border-top: 1px solid #ffff;
    background-color: #2E236B;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  nav ul li {
    display: block;
  }
  input:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 640px) {
  .header__info h1 {
    font-size: 40px;
  }
}

.container__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 50px;
}

.container__about .about__description {
  padding: 70px;
}

.container__about .about__description .about__title {
  color: #2E236B;
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: "Ubuntu-Regular";
}

.container__about .about__description .about__title span {
  color: #74A127;
  font-size: 53px;
}

.container__about .about__description .about__words {
  color: #7A797E;
  text-align: justify;
  font-size: 18px;
  padding-bottom: 30px;
  line-height: 30px;
}

.header__pages {
  width: 100%;
  height: 40vh;
  position: relative;
  background-image: url(./../assets/images/background-pages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  color: #FDFDFD;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__info {
  position: absolute;
  padding: 0 6%;
}

.header__info h1 {
  font-size: 50px;
  color: #2E236B;
  font-family: "Ubuntu-Medium";
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
}

nav ul li a span {
  text-decoration: underline;
  font-family: "Ubuntu-Light";
}

nav ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

.input__header {
  display: none;
}

label {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.bg-blue {
  background-color: #2E236B;
  padding: 0 8%;
}

@media (max-width: 994px) {
  .bg-blue {
    padding: 0;
  }
  nav {
    background-color: #2E236B;
  }
}

@media (max-width: 1121px) {
  label {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    border-top: 1px solid #ffff;
    background-color: #2E236B;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  nav ul li {
    display: block;
  }
  input:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 640px) {
  .header__info h1 {
    font-size: 40px;
  }
}

div.container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.imag {
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
}

p {
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 30px 0;
}

div.imag {
  height: 300px;
  width: 100%;
  background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
  background-size: cover;
  background-position: center;
}

div.text-container {
  margin: 60px 45px 55px;
}

@media screen and (min-width: 768px) {
  div.container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.imag {
    min-width: 360px;
    height: 420px;
  }
  div.text-container {
    margin: 0 60px;
    max-width: 660px;
  }
}

@media screen and (min-width: 1024px) {
  div.container {
    max-width: 1200px;
  }
}

.header__pages {
  width: 100%;
  height: 40vh;
  position: relative;
  background-image: url(./../assets/images/background-pages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  color: #FDFDFD;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__info {
  position: absolute;
  padding: 0 6%;
}

.header__info h1 {
  font-size: 50px;
  color: #2E236B;
  font-family: "Ubuntu-Medium";
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
}

nav ul li a span {
  text-decoration: underline;
  font-family: "Ubuntu-Light";
}

nav ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

.input__header {
  display: none;
}

label {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.bg-blue {
  background-color: #2E236B;
  padding: 0 8%;
}

@media (max-width: 994px) {
  .bg-blue {
    padding: 0;
  }
  nav {
    background-color: #2E236B;
  }
}

@media (max-width: 1121px) {
  label {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    border-top: 1px solid #ffff;
    background-color: #2E236B;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  nav ul li {
    display: block;
  }
  input:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 640px) {
  .header__info h1 {
    font-size: 40px;
  }
}

.container__login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__login .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}

.container__login .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #2E236B, #4f40cf);
  z-index: 1;
  mix-blend-mode: screen;
}

.container__login .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__login .contentBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.container__login .contentBx .formBx {
  width: 50%;
}

.container__login .contentBx .formBx h2 {
  color: #2E236B;
  font-family: "Ubuntu-Medium";
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 5px solid #2E236B;
  display: inline-block;
  letter-spacing: 1px;
}

.container__login .contentBx .formBx .inputBx {
  margin-bottom: 20px;
}

.container__login .contentBx .formBx .inputBx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #2E236B;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Ubuntu-Regular";
}

.container__login .contentBx .formBx .inputBx .input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #7A797E;
  font-size: 16px;
  letter-spacing: 1px;
  color: #2E236B;
  background: transparent;
  border-radius: 30px;
}

.container__login .contentBx .formBx .inputBx .input[type="submit"] {
  background-color: #2E236B;
  color: #FDFDFD;
}

.container__login .contentBx .formBx .inputBx .input[type="submit"]:hover {
  background-color: #74A127;
}

.container__login .contentBx .formBx .recordar {
  margin-bottom: 10px;
}

.container__login .contentBx .formBx .recordar .label {
  display: inline;
  color: #7A797E;
  font-size: 14px;
}

.container__login .contentBx .formBx .recordar .input__checkbox {
  display: inline;
}

.container__login .contentBx .formBx .inputBx p {
  color: #7A797E;
}

.container__login .contentBx .formBx .inputBx p a {
  color: #74A127;
}

@media (max-width: 768px) {
  .container__login .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container__login .contentBx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .container__login .contentBx .formBx {
    width: 100%;
    padding: 40px;
    background: white;
    margin: 50px;
  }
}

.container_contact {
  position: relative;
  min-width: 1000px;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
}

.container_contact .contactInfo {
  position: relative;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background-color: #2E236B;
  z-index: 1;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
}

.container_contact .contactInfo h2 {
  color: #FDFDFD;
  font-size: 24px;
}

.container_contact .contactInfo .info {
  position: relative;
  margin: 20px 0;
}

.container_contact .contactInfo .info li {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container_contact .contactInfo .info li span {
  color: #FDFDFD;
}

.container_contact .contactInfo .info li span i {
  margin-right: 10px;
}

.container_contact .contactInfo .redes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_contact .contactInfo .redes li {
  list-style: none;
  margin-right: 15px;
}

.container_contact .contactInfo .redes li i {
  color: #000;
}

.container_contact .contactForm {
  position: absolute;
  padding: 70px 50px;
  background-color: #f2f8ee;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 150px);
  height: 100%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
}

.container_contact .contactForm h2 {
  color: #2E236B;
  font-size: 24px;
}

.container_contact .contactForm .formBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.container_contact .contactForm .formBox .inputBx {
  position: relative;
  margin: 0 0 35px 0;
}

.container_contact .contactForm .formBox .inputBx .input,
.container_contact .contactForm .formBox .inputBx .inputArea {
  display: block;
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  color: #2E236B;
  border: none;
  border-bottom: 1px solid #7A797E;
  background-color: #f2f8ee;
  outline: none;
  resize: none;
}

.container_contact .contactForm .formBox .inputBx .input[type="submit"],
.container_contact .contactForm .formBox .inputBx .inputArea[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: #2E236B;
  color: #FDFDFD;
  border: none;
  max-width: 150px;
  padding: 12px;
  border-radius: 30px;
}

.container_contact .contactForm .formBox .inputBx .input[type="submit"]:hover,
.container_contact .contactForm .formBox .inputBx .inputArea[type="submit"]:hover {
  background-color: #74A127;
}

.container_contact .contactForm .formBox .inputBx .inputArea {
  min-height: 120px;
}

.container_contact .contactForm .formBox .inputBx span {
  padding: 5px 0;
  font-size: 16px;
  color: #7A797E;
}

.container_contact .contactForm .formBox .w50 {
  width: 47%;
}

.container_contact .contactForm .formBox .w100 {
  width: 100%;
}

@media (max-width: 1200px) {
  .container_contact {
    width: 90%;
    min-width: auto;
    margin: 20px;
  }
  .container_contact .contactInfo {
    top: 0;
    height: 550px;
    position: relative;
  }
  .container_contact .contactForm {
    position: relative;
    padding: 40px;
    width: calc(100% - 350px);
    padding-left: 0;
    margin-left: 0;
    height: 550px;
  }
}

@media (max-width: 991px) {
  .container_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container_contact .contactForm {
    width: 100%;
    height: auto;
  }
  .container_contact .contactInfo {
    width: 100%;
    height: auto;
  }
  .container_contact .contactInfo .redes {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: unset;
  }
}

@media (max-width: 600px) {
  .container_contact .contactForm {
    padding: 25px;
  }
  .container_contact .contactInfo {
    padding: 25px;
  }
}

.services {
  display: block;
  position: relative;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
}

.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 33.333333%;
}

.ser-box {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 280px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
          box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.ser-box .icon {
  margin-bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.ser-box h4 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  color: #2E236B;
  margin-top: -10px;
  font-family: "Ubuntu-Regular";
}

.ser-box p {
  color: #7A797E;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ser-box:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#468ccb), color-stop(#3b71b5), color-stop(#35579e), color-stop(#313d85), to(#2e236b));
  background-image: linear-gradient(to right bottom, #468ccb, #3b71b5, #35579e, #313d85, #2e236b);
}

.ser-box:hover h4,
.ser-box:hover p {
  color: #fff;
  line-height: 30px;
}

/********-Responsive-************/
@media (min-width: 768px) {
  .box {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 600px) {
  .box {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 992px) {
  .box {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.333333% !important;
            flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
}

@media (min-width: 414px) {
  .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 370px) {
  .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 320px) {
  .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.container__cita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  gap: 150px;
}

.container__formulario {
  max-width: 400px;
  width: 100%;
  background-color: #f2f8ee;
  padding: 25px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
}

.container__formulario .title {
  font-size: 25px;
  color: #2E236B;
  padding-bottom: 10px;
}

form .user-details .input-box {
  margin-bottom: 20px;
}

form .input-box span.details {
  display: block;
  margin-bottom: 5px;
  color: #2E236B;
  font-family: "Ubuntu-Medium";
  font-size: 15px;
}

.user-details .input-box .select-service {
  display: block;
  height: 50px;
  width: 100%;
  font-size: 16px;
  color: #2E236B;
  border: none;
  border-bottom: 1px solid #7A797E;
  background-color: #f2f8ee;
  outline: none;
}

.user-details .input-box input {
  display: block;
  height: 50px;
  width: 100%;
  font-size: 16px;
  color: #2E236B;
  border: none;
  border-bottom: 1px solid #7A797E;
  background-color: #f2f8ee;
  outline: none;
}

.container__reserva .btn-action {
  padding-top: 30px;
}

.container__reserva .btn-action a {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #FDFDFD;
  background-color: #2E236B;
  color: #FDFDFD;
  border-radius: 30px;
}

.container__reserva .btn-action a:hover {
  background-color: #74A127;
}

@media (max-width: 908px) {
  .container__cita {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  background-color: #fcfcfc;
  font-family: "Ubuntu-Light";
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */