@font-face {
  font-family: 'Ubuntu-Light';
  src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(../fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url(../fonts/Ubuntu-Regular.ttf);
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./../assets/images/slider1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #FDFDFD;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-content {
  position: absolute;
  padding: 0 6%;
}

.header-content h1 {
  font-size: 57px;
  color: #2E236B;
  font-family: "Ubuntu-Light";
}

.header-content h1 span {
  font-size: 38px;
  color: #4e4b4b;
  font-family: "Ubuntu-Medium";
}

.header-content p {
  font-size: 19px;
  font-style: italic;
  color: #FDFDFD;
  margin-bottom: 30px;
}

.header-content a {
  padding: 10px 25px;
  font-size: 18px;
  background-color: #2E236B;
  border: 1px solid #2E236B;
  color: #FDFDFD;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  border-radius: 6px;
}

.header-content a:hover {
  color: #FDFDFD;
  background-color: #4064a3;
  border: 1px solid #4064a3;
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
}

nav ul li a span {
  text-decoration: underline;
  font-family: "Ubuntu-Light";
}

nav ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

input {
  display: none;
}

label {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.bg-blue {
  background-color: #2E236B;
  padding: 0 8%;
}

@media (max-width: 994px) {
  .bg-blue {
    padding: 0;
  }
  nav {
    background-color: #2E236B;
  }
}

@media (max-width: 1121px) {
  label {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    border-top: 1px solid #ffff;
    background-color: #2E236B;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  nav ul li {
    display: block;
  }
  input:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 640px) {
  .header-content h1 {
    font-size: 40px;
  }
}

.container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
}

.container__card .card {
  color: #FDFDFD;
  width: 100%;
  height: 240px;
  text-align: center;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  margin: 5px;
  padding: 20px;
}

.container__card .card .card__title {
  text-transform: uppercase;
  font-size: 27px;
}

.container__card .card .card__info {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 28px;
}

.container__card .card .buttonCard {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #FDFDFD;
  background: transparent;
  color: #FDFDFD;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  font-family: "Ubuntu-Regular";
  border-radius: 20px;
}

.container__card .card .buttonCard:hover {
  background-color: #2E236B;
  border: 10px solid #2E236B;
}

.container__card .card .card__contacto {
  margin-top: 10px;
  padding: 20px;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
}

.container__card .card .card__contacto li {
  margin-bottom: 10px;
}

.container__card .card .card__contacto li i {
  margin-right: 10px;
}

.container__card .card .card__horario {
  margin-top: 10px;
  font-size: 15px;
  line-height: 32px;
}

.container__card .card .card__horario span {
  margin-left: 115px;
}

.container__card .card .card__horario .horario {
  margin-left: 50px;
}

.container__card .card:nth-child(1) {
  background-color: #4064a3;
}

.container__card .card:nth-child(1):hover {
  background-color: #3ea03e;
}

.container__card .card:nth-child(2) {
  background-color: #383068;
}

.container__card .card:nth-child(2):hover {
  background-color: #3ea03e;
}

.container__card .card:nth-child(3) {
  background-color: #3949b1;
}

.container__card .card:nth-child(3):hover {
  background-color: #3ea03e;
}

@media (max-width: 901px) {
  .container__card {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__card .card__info {
    width: 100%;
    padding-left: 0;
  }
  .container__card .card__contacto {
    text-align: center !important;
  }
}

@media (max-width: 925px) {
  .container__card .card .card__horario span {
    margin-left: 100px;
  }
  .container__card .card .card__horario .horario {
    margin-left: 48px;
  }
}

@media (max-width: 913px) {
  .container__card .card .card__horario {
    margin-left: -12px;
  }
  .container__card .card .card__horario .horario {
    margin-left: 44px;
  }
}

.about-section {
  background: url(./../assets/images/about-us.jpg) no-repeat left;
  background-size: 55%;
  background-color: #FDFDFD;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #f2f8ee;
  padding: 110px;
}

.inner-container h1 {
  color: #2E236B;
  font-size: 45px;
  margin-bottom: 30px;
  font-family: "Ubuntu-Regular";
}

.inner-container h1 span {
  color: #74A127;
  font-size: 53px;
}

.text {
  font-size: 16px;
  color: #7A797E;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  color: #2E236B;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}

.service {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-heading {
  text-align: center;
}

.s-heading h1 {
  color: #2E236B;
  font-family: "Ubuntu-Regular";
  font-size: 45px;
  letter-spacing: 1px;
  margin: 0px;
  text-align: center;
}

.s-heading h1 span {
  color: #74A127;
  font-size: 53px;
}

.s-heading p {
  color: #7A797E;
  font-size: 18px;
  margin: 5px;
  text-align: center;
}

.s-box-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
  width: 360px;
  padding: 20px 25px;
  height: 380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px;
  position: relative;
  background-color: #FDFDFD;
}

.s-box img {
  height: 80px;
}

.s-box h1 {
  color: #2E236B;
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
  font-family: "Ubuntu-Regular";
}

.s-box p {
  color: #7A797E;
  text-align: justify;
  padding-bottom: 10px;
  line-height: 25px;
}

.s-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #2E236B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2E236B;
  margin-top: 10px;
  font-family: "Ubuntu-Medium";
}

.bar {
  width: 100px;
  height: 8px;
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #74A127;
  border-radius: 0px 0px 10px 15px;
  display: none;
  -webkit-animation: bar 0.5s;
          animation: bar 0.5s;
}

.s-box:hover {
  background-color: #f2f8ee;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.s-btn:hover {
  background-color: #74A127;
  border: 1px solid #74A127;
  color: #FDFDFD;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.s-box:hover .bar {
  display: block;
}

@-webkit-keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}

@media (max-width: 1050px) {
  .s-box-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services {
    height: auto;
  }
  .s-heading {
    margin: 15px;
  }
  .s-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.container__why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 30px;
}

.container__why .why__reasons .why__title {
  color: #2E236B;
  font-size: 45px;
  font-family: "Ubuntu-Regular";
}

.container__why .why__reasons .why__title span {
  color: #74A127;
  font-size: 53px;
}

.container__why .why__reasons .why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.container__why .why__reasons .why__list .why__item {
  color: #2E236B;
  font-size: 26px;
  font-family: "Ubuntu-Bold";
  padding-top: 30px;
}

.container__why .why__reasons .why__list .why__description {
  color: #7A797E;
  font-size: 18px;
  padding-left: 60px;
  padding-top: 10px;
  text-align: justify;
}

@media (max-width: 917px) {
  .container__why {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 500px) {
  .why__title {
    text-align: center;
  }
  .why__list {
    width: 417px !important;
  }
}

@media (max-width: 412px) {
  .why__list {
    width: 317px !important;
  }
  .why__list .why__item {
    font-size: 20px !important;
  }
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #2E236B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container__footer .about {
  width: 40%;
}

footer .container__footer .about h2 {
  position: relative;
  color: #FDFDFD;
  margin-bottom: 15px;
}

footer .container__footer .about p {
  color: #d1d1d1;
  text-align: justify;
}

footer .container__footer .about .redes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container__footer .about .redes li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #74A127;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  border-radius: 4px;
}

footer .container__footer .about .redes li a:hover {
  background: #7A797E;
}

footer .container__footer .about .redes li a .fab {
  color: #FDFDFD;
  font-size: 20px;
}

footer .container__footer .quick__links {
  position: relative;
  width: 25%;
}

footer .container__footer .quick__links h2 {
  color: #FDFDFD;
  margin-bottom: 15px;
}

footer .container__footer .quick__links ul li a {
  color: #d1d1d1;
  margin-bottom: 10px;
  display: inline-block;
}

footer .container__footer .quick__links ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

footer .container__footer .contact h2 {
  color: #FDFDFD;
  margin-bottom: 15px;
}

footer .container__footer .contact .info {
  position: relative;
}

footer .container__footer .contact .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

footer .container__footer .contact .info li span:nth-child(1) {
  color: #d1d1d1;
  font-size: 20px;
  margin-right: 10px;
}

footer .container__footer .contact .info li span {
  color: #d1d1d1;
}

.copyrightText {
  width: 100%;
  background-color: #2E236B;
  padding: 8px 100px;
  text-align: center;
  color: #FDFDFD;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container__footer .about,
  footer .container__footer .quick__links,
  footer .container__footer .contact {
    width: 100%;
    margin-top: 20px;
  }
}

.section__About {
  padding: 30px;
}

.section__About .container__about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
  margin-top: 50px;
}

.section__About .container__about .about__info .about__description {
  max-width: 500px;
}

.section__About .container__about .about__info .about__description .about__title {
  color: #2E236B;
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: "Ubuntu-Regular";
}

.section__About .container__about .about__info .about__description .about__title span {
  color: #74A127;
  font-size: 53px;
}

.section__About .container__about .about__info .about__description .bold {
  color: #2E236B;
  font-weight: bold;
  font-style: italic;
}

.section__About .container__about .about__info .about__description .about__words {
  text-align: justify;
  margin-bottom: 20px;
  color: #7A797E;
}

.section__About .container__about .about__info .about__description .button-reserva {
  padding: 10px 20px;
  color: #fff;
  background: #2E236B;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section__About .container__about .about__info .about__description .button-reserva:hover {
  background: #74A127;
}

.section__About .container__about .container__flipcards {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section__About .container__about .container__flipcards .box_card {
  width: 500px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 30px auto;
}

.section__About .container__about .container__flipcards .box_card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.section__About .container__about .container__flipcards .box_card .first {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #2E236B;
  background-size: contain;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.section__About .container__about .container__flipcards .box_card .first p {
  position: absolute;
  text-transform: uppercase;
  font-size: 35px;
  color: #FDFDFD;
  font: "Ubuntu-Medium";
  left: 0;
  top: 0;
  padding: 135px 0 0 105px;
  margin: 0;
}

.section__About .container__about .container__flipcards .box_card .second {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: #FDFDFD;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.section__About .container__about .container__flipcards .box_card .second .second-text {
  padding: 50px;
  color: #7A797E;
  text-align: justify;
}

.section__About .container__about .container__flipcards .box_card .second .second-text h2 {
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #2E236B;
}

.section__About .container__about .container__flipcards .box_card .second .second-text h2:after {
  content: "";
  border-bottom: 1px solid #74A127;
  display: block;
}

@media (max-width: 1001px) {
  .container__flipcards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 775px) {
  .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

div.container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.imag {
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  margin: 0 0 15px;
}

p {
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 30px 0;
}

div.imag {
  height: 300px;
  width: 100%;
  background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg");
  background-size: cover;
  background-position: center;
}

div.text-container {
  margin: 60px 45px 55px;
}

@media screen and (min-width: 768px) {
  div.container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.imag {
    min-width: 360px;
    height: 420px;
  }
  div.text-container {
    margin: 0 60px;
    max-width: 660px;
  }
}

@media screen and (min-width: 1024px) {
  div.container {
    max-width: 1200px;
  }
}

.section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f8ee;
  padding: 30px;
}

.container__login {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-perspective: 2700px;
          perspective: 2700px;
}

.container__login .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container__login .cover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2E236B;
  opacity: 0.5;
  z-index: 100;
}

.container__login .cover::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2E236B;
  opacity: 0.5;
  z-index: 100;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container__login #flip:checked ~ .cover {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.container__login .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 12;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.container__login .cover .back .backImg {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.container__login .cover .text {
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cover .back .text .text-1,
.cover .back .text .text-2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.container__login form {
  height: 100%;
  width: 100%;
  background: #fff;
}

.container__login .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

form .form-content .title {
  position: relative;
  font-size: 24px;
  font-family: "Ubuntu-Medium";
  color: #2E236B;
}

form .form-content .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #74A127;
}

form .signup-form .title:before {
  width: 20px;
}

form .form-content .input-boxes {
  margin-top: 30px;
}

form .form-content .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #74A127;
}

.form-content .input-box i {
  position: absolute;
  color: #2E236B;
  font-size: 17px;
}

form .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #2E236B;
}

form .form-content .text a {
  text-decoration: none;
  color: #2E236B;
}

form .form-content .text a:hover {
  text-decoration: underline;
}

form .form-content .button {
  color: #f2f8ee;
  margin-top: 30px;
}

form .form-content .button input {
  display: block;
  color: #fff;
  background: #2E236B;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

form .form-content .button input:hover {
  background: #74A127;
}

form .form-content label {
  display: block;
  color: #2E236B;
  cursor: pointer;
  font-family: "Ubuntu-Regular";
  font-size: 15px;
}

form .form-content label:hover {
  text-decoration: underline;
}

form .form-content .login-text,
form .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.container__login #flip {
  display: none;
}

@media (max-width: 730px) {
  .container__login .cover {
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form {
    width: 100%;
  }
  .form-content .signup-form {
    display: none;
  }
  .container__login #flip:checked ~ form .signup-form {
    display: block;
  }
  .container__login #flip:checked ~ form .login-form {
    display: none;
  }
}

.section__contact {
  min-height: 100vh;
  width: 100%;
  background: #f2f8ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__contact {
  width: 85%;
  background: #fff;
  padding: 20px 60px 30px 40px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container__contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__contact .content .left-side {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  position: relative;
  background-color: #2E236B;
  color: #FDFDFD;
  font-family: "Ubuntu-Regular";
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #7A797E;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #FDFDFD;
}

.container__contact .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 25px;
  font-weight: 600;
  color: #2E236B;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 16px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  display: block;
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  display: block;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #2E236B;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #74A127;
}

@media (max-width: 950px) {
  .container__contact {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container__contact .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .container__contact {
    margin: 40px 0;
    height: 100%;
  }
  .container__contact .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container__contact .content .left-side {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container__contact .content .left-side::before {
    display: none;
  }
  .container__contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.services {
  display: block;
  position: relative;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -15px;
}

.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 33.333333%;
}

.ser-box {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 280px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
          box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.ser-box .icon {
  margin-bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.ser-box h4 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  color: #2E236B;
  margin-top: -10px;
  font-family: "Ubuntu-Regular";
}

.ser-box p {
  color: #7A797E;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ser-box:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
          box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#468ccb), color-stop(#3b71b5), color-stop(#35579e), color-stop(#313d85), to(#2e236b));
  background-image: linear-gradient(to right bottom, #468ccb, #3b71b5, #35579e, #313d85, #2e236b);
}

.ser-box:hover h4,
.ser-box:hover p {
  color: #fff;
  line-height: 30px;
}

/********-Responsive-************/
@media (min-width: 768px) {
  .box {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 600px) {
  .box {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (min-width: 992px) {
  .box {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.333333% !important;
            flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
}

@media (min-width: 414px) {
  .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 370px) {
  .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 320px) {
  .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.container__cita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  gap: 150px;
}

.container__formulario {
  max-width: 400px;
  width: 100%;
  background-color: #f2f8ee;
  padding: 25px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
}

.container__formulario .title {
  font-size: 25px;
  color: #2E236B;
  padding-bottom: 10px;
}

form .user-details .input-box {
  margin-bottom: 20px;
}

form .input-box span.details {
  display: block;
  margin-bottom: 5px;
  color: #2E236B;
  font-family: "Ubuntu-Medium";
  font-size: 15px;
}

.user-details .input-box .select-service {
  display: block;
  height: 50px;
  width: 100%;
  font-size: 16px;
  color: #2E236B;
  border: none;
  border-bottom: 1px solid #7A797E;
  background-color: #f2f8ee;
  outline: none;
}

.user-details .input-box input {
  display: block;
  height: 50px;
  width: 100%;
  font-size: 16px;
  color: #2E236B;
  border: none;
  border-bottom: 1px solid #7A797E;
  background-color: #f2f8ee;
  outline: none;
}

.container__reserva .btn-action {
  padding-top: 30px;
}

.container__reserva .btn-action a {
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #FDFDFD;
  background-color: #2E236B;
  color: #FDFDFD;
  border-radius: 30px;
}

.container__reserva .btn-action a:hover {
  background-color: #74A127;
}

@media (max-width: 908px) {
  .container__cita {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-section {
  background-color: #f2f8ee;
  min-height: 100vh;
  padding: 70px 15px 30px;
}

.container__team {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-section .section-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}

.team-section .section-title p {
  font-size: 18px;
  text-align: center;
  margin: 15px 0 0;
  color: #7A797E;
  font-family: "Ubuntu-Regular";
}

.team-section .team-items {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-section .team-items .item {
  -ms-flex-preferred-size: calc(35% - 30px);
      flex-basis: calc(35% - 30px);
  max-width: calc(35% - 30px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-bottom: 40px;
}

.team-section .team-items .item img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.team-section .team-items .item .inner {
  position: relative;
  z-index: 11;
  padding: 0 15px;
}

.team-section .team-items .item .inner .info {
  background-color: #2E236B;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-top: -40px;
}

.team-section .team-items .item:hover .info {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.team-section .team-items .item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.team-section .team-items .item .inner .info h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.team-section .team-items .item .inner .info p {
  font-size: 16px;
  font-weight: 400;
  color: #c5c5c5;
  margin: 10px 0 0;
}

.team-section .team-items .item .inner .info .team-info {
  padding-top: 15px;
}

.team-section .team-items .item .inner .info .team-info a {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  color: #74A127;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  line-height: 32px;
  font-size: 16px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.team-section .team-items .item .inner .info .team-info a:hover {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

/*responsive*/
@media (max-width: 991px) {
  .team-section .team-items .item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .team-section .team-items .item {
    -ms-flex-preferred-size: calc(100%);
        flex-basis: calc(100%);
    max-width: calc(100%);
  }
}

.section-Description {
  padding: 50px;
}

.esp-Description {
  color: #7A797E;
  font-family: "Ubuntu-Regular";
  font-size: 18px;
}

.esp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.menu {
  width: 500px;
  overflow: hidden;
  list-style: none;
  text-decoration: none;
}

.item {
  background: #2E236B;
  overflow: hidden;
}

.btn {
  display: block;
  padding: 25px 20px;
  background: #2E236B;
  color: #FDFDFD;
  position: relative;
  font-size: 16px;
  font-family: "Ubuntu-Regular";
}

.btn:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #2E236B;
  left: 20px;
  bottom: -7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn i {
  margin-right: 10px;
  font-size: 20px;
}

.smenu {
  background: #d5dce0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  max-height: 0;
}

.smenu a {
  display: block;
  padding: 16px 26px;
  color: #2E236B;
  font-size: 16px;
  margin: 6px 0;
  position: relative;
  text-transform: capitalize;
}

.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.smenu a:hover:before {
  opacity: 1;
}

.item:target .smenu {
  max-height: 40em;
}

.especialidad__information .subtitle {
  color: #2E236B;
  font-size: 18px;
  font-family: "Ubuntu-Regular";
  margin-bottom: 20px;
}

.especialidad__information .description {
  color: #7A797E;
  font-size: 16px;
  margin-bottom: 15px;
}

.especialidad__information .description__tiempo {
  color: #7A797E;
  font-size: 16px;
  padding-left: 60px;
}

.especialidad__information .description__tiempo i {
  color: #74A127;
  margin-right: 10px;
}

@media screen and (max-width: 1059px) {
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 809px) {
  .esp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__pages {
  width: 100%;
  height: 40vh;
  position: relative;
  background-image: url(./../assets/images/background-pages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
  color: #FDFDFD;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__info {
  position: absolute;
  padding: 0 6%;
}

.header__info h1 {
  font-size: 59px;
  color: #2E236B;
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
  padding: 20px;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FDFDFD;
}

nav ul li a span {
  text-decoration: underline;
  font-family: "Ubuntu-Light";
}

nav ul li a:hover {
  color: #74A127;
  font-family: "Ubuntu-Medium";
}

.input__header {
  display: none;
}

label {
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.bg-blue {
  background-color: #2E236B;
  padding: 0 8%;
}

@media (max-width: 994px) {
  .bg-blue {
    padding: 0;
  }
  nav {
    background-color: #2E236B;
  }
}

@media (max-width: 1121px) {
  label {
    display: block;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    border-top: 1px solid #ffff;
    background-color: #2E236B;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  nav ul li {
    display: block;
  }
  input:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 640px) {
  .header__info h1 {
    font-size: 40px;
  }
}

.gallery__section .gallery__title {
  margin-top: 30px;
  text-align: center;
  color: #2E236B;
  font-size: 45px;
  font-family: "Ubuntu-Regular";
}

.gallery__section .gallery__title span {
  color: #74A127;
  font-size: 53px;
}

body {
  background-color: #fcfcfc;
  font-family: "Ubuntu-Light";
}
/*# sourceMappingURL=styles.css.map */